@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ref :: https://twitter.com/steventey/status/1677339375645126659 */
:root {
  --app-gray-default: 255 255 255;
  --app-gray-50: 249 250 251;
  --app-gray-100: 243 244 246;
  --app-gray-200: 229 231 235;
  --app-gray-300: 209 213 219;
  --app-gray-400: 156 163 175;
  --app-gray-500: 107 114 128;
  --app-gray-600: 75 85 99;
  --app-gray-700: 55 65 81;
  --app-gray-800: 31 41 55;
  --app-gray-900: 17 24 39;
  --app-gray-950: 3 7 18;
}

.dark {
  --app-gray-default: 3 7 18;
  --app-gray-50: 17 24 39;
  --app-gray-100: 31 41 55;
  --app-gray-200: 55 65 81;
  --app-gray-300: 75 85 99;
  --app-gray-400: 107 114 128;
  --app-gray-500: 156 163 175;
  --app-gray-600: 209 213 219;
  --app-gray-700: 229 231 235;
  --app-gray-800: 243 244 246;
  --app-gray-900: 249 250 251;
  --app-gray-950: 255 255 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

.bg-hero-pattern {
  background-image: url("/images/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title{
  @apply font-extrabold text-[40px] md:text-[60px] lg:text-[70px] xl:text-[80px];
}

.hero-subtitle{
  @apply font-medium text-[18px] md:text-[22px] lg:text-[26px] xl:text-[30px];
}

.section-title{
  @apply font-extrabold text-[30px] md:text-[40px] lg:text-[50px] xl:text-[60px];
}

.section-subtitle{
  @apply uppercase tracking-wider text-[14px] md:text-[16px] lg:text-[18px] xl:text-[20px];
}

.green-pink-gradient {
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.bg-tertiary{
  background-color: rgb(21 16 48);
}

.shadow-card {
  box-shadow: 0px 0px 30px -15px white;
}

.shadow-headshot {
  box-shadow: 0px 0px 50px -10px white;
}

/* Scrollbar Custom CSS */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--app-gray-100));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--app-gray-200));
}
